*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*HEADER*/
.header-cont {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}

.header-cont .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cont-nav {
  display: flex;
  align-items: center;
}

.h-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}

.h-logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.h-logo-sp {
  color: #f4f4fd;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: block;
  padding: 24px 0;
}

.header-list-item:hover {
  color: #404bbf;
}

.header-list-item:focus {
  color: #404bbf;
}

.address-cont {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.address-cont-list {
  display: flex;
  gap: 40px;
}

.address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item:hover {
  color: #404bbf;
}

.address-item:focus {
  color: #404bbf;
}

/*MAIN PAGE*/
.main-page-cont {
  padding: 188px 0;
  background-color: #2e2f42;
}

.main-page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;

  max-width: 496px;
  margin: 0 auto 48px auto;
}

.main-page-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  background: #4d5ae5;

  cursor: pointer;
}

.main-page-button:hover {
  background-color: #404bbf;
}

.main-page-button:focus {
  background-color: #404bbf;
}

/*ADVANTAGE*/
.advan-cont {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.advan-list {
  display: flex;
  gap: 24px;
}

.advan-list-item {
  width: calc((100% - 72px) / 4);
}

.advan-list-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.advan-list-item-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*TEAM*/
.team-cont {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-cont {
  padding: 32px 0;
}

.team-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 8px;
}

.team-list-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;

  text-align: center;
}

/*PORTFOLIO*/
.port-cont {
  padding-top: 120px;
  padding-bottom: 120px;
}

.port-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.port-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.post-list-item {
  width: calc((100% - 48px) / 3);
}

.port-list-item-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-list-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.port-list-item-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOOTER*/
.footer-cont {
  background-color: #2e2f42;
  padding: 100px 0;
}

.f-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: inline-block;
  margin-bottom: 16px;
}

.f-logo-s {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.f-logo-sp {
  color: #f4f4fd;
}

.footer-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
}
